

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.main_container{
  background-color:hsl(217, 19%, 24%);
  color: white;
  width: 30rem;
  height: 18rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 50px;
  }
  .advice_id{
    font-family: Manrope;
    font-size: larger;
    color:hsl(150, 100%, 66%);
    text-align: center;
    margin-top: 20px;
    
  }
  .advice{
    font-family: Manrope;
    font-size:large;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    
  }
  .advice_svg{
    margin-top: 20px;
    
    
  }
  .advice_dice{
    background-color:  hsl(150, 100%, 66%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
   margin-bottom: -100px ;
   margin-top: 20px;
  }
  .dice{
    margin-top: 12px;
  }

  .advice_dice:hover{
    box-shadow: 0px 0px 10px hsl(150, 100%, 66%);
    cursor: pointer;
  }

   @media (max-width:600px){

    .main_container{
    background-color: hsl(218, 23%, 16%);
    width: 30rem;
    height: 22rem;
    
    }
    .advice_id{
      font-family: Manrope;
      font-size: larger;
      color: green;
      text-align: center;
      margin-top: 10px;
    }
    .advice{
      font-family: Manrope;
      font-size:large;
      width: 100%;
      height: 20%;
      text-align: center;
      font-size: 23px;
      font-weight: 800;
      margin-top: 50px;
    }
    .advice_svg svg[width="444"]{
      
     margin-top:30px ; 
    
    }
    .advice_dice {
      background-color:  hsl(150, 100%, 66%);
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-bottom: -60px;
      margin-top: 40px;
    }
    .dice{
      margin-top: 12px;
    }


  
    .advice_dice:hover{
      box-shadow: 0px 0px 10px hsl(150, 100%, 66%);
      cursor: pointer;
    }
  

  }  